.container {
	padding-left: 2%;
	padding-bottom: 5%;

	background-color: lightgrey;
	display: grid;
	grid-template-columns: repeat(4, 100px);
	grid-template-rows: repeat(7, 80px);
	grid-template-areas:
		" title title title title "
		" screen screen screen screen "
		" button-ac button-ac button-del button-del "
		" button-7 button-8 button-9 button-plus "
		" button-4 button-5 button-6 button-minus "
		" button-1 button-2 button-3 button-mult "
		" button-0 button-point button-div button-equal ";
}

.Title {
	grid-area: title;
}
.button-0 {
	grid-area: button-0;
}
.button-1 {
	grid-area: button-1;
}
.button-2 {
	grid-area: button-2;
}
.button-3 {
	grid-area: button-3;
}
.button-4 {
	grid-area: button-4;
}
.button-5 {
	grid-area: button-5;
}
.button-6 {
	grid-area: button-6;
}
.button-7 {
	grid-area: button-7;
}
.button-8 {
	grid-area: button-8;
}
.button-9 {
	grid-area: button-9;
}
.mathButton-delete {
	grid-area: button-delete;
}
.mathButton-plus {
	grid-area: button-plus;
}
.mathButton-minus {
	grid-area: button-minus;
}
.mathButton-mult {
	grid-area: button-mult;
}
.mathButton-div {
	grid-area: button-div;
}
.mathButton-point {
	grid-area: button-point;
}
.mathButton-equal {
	grid-area: button-equal;
}

.mathButton-ac {
	grid-area: button-ac;
}

.mathButton-del {
	grid-area: button-del;
}

.screen {
	grid-area: screen;
    height: 40px;
    align-self: center;
    text-align: end;
}
